body, button {
    font-family: "Comic Sans MS", "Comic Sans";
}

body {
    line-height: 1.6;
    color: #333;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-image: url('assets/background.png');
}

h1 {
    text-align: center;
    margin-bottom: 0px;
}

.game-container {
    background-color: rgb(246, 221, 197);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    display: none;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    text-align: center;
}

.fade-out {
    opacity: 0;
}

.question-counter {
    text-align: right;
    font-size: 16px;
    font-weight: bold;
    color: #555;
    margin-bottom: 15px;
}
.story-text {
    margin-bottom: 50px;
    font-size: 25px;
}
.choices {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.choice-btn {
    background-color: rgb(62, 142, 65);
    color: white;
    border: none;
    padding: 25px 50px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 22px;
    margin-bottom: 1rem;
    margin-top: 0px;
    transition: background-color box-shadow font-weight 0.4s;
}

.choice-btn:hover {
    background-color: rgb(37, 100, 57);
    font-weight: 600;
    transition: background-color box-shadow font-weight 0.4s;
    box-shadow: 5px 5px 5px rgba(37, 100, 57, 0.3);
}
footer {
    margin-top: 30px;
    text-align: center;
    font-size: 14px;
    color: #666;
}

#start-page, #results-page {
    display: none;
    text-align: center;
    margin: 20px;
    color: white;
}

#result {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-bottom: 30px;
    margin-top: 0px
}

#start-container, #results-container {
    background-color: rgb(246, 221, 197);
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    color: green;
    display: block;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
}


#start-gif {
    max-width: 100%;
    max-height: 400px;
    width: auto;
    height: auto; 
    display: block;
    margin: 0 auto;
    object-fit: contain;
}

footer {
    color: white;
    text-shadow: 1px 1px 2px black;
}